body {
    background-image: url('1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: auto;
    max-height: auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  
.container{
    
    background-color: transparent; 
    list-style-type: none;
    text-align: right;
    margin-top: 13px;
    padding: 0;
    max-width: auto;
    max-height: auto;
    position: absolute;
    right: 8px;
    font-size: 15px;
    
}
.container li {
    display: inline-block;
    font-size: 17px;
    padding: 2px;
    box-sizing: border-box;
    max-width: auto;
    max-height: auto;
    padding: 3px;
    top: 5px;
}
.container li:hover {
    text-decoration: underline;
}


.unorder{
    float:right;
    max-width: 10%;
}
.listitem{
    display: block;
    overflow: hidden;
    list-style-type: none;
    padding: 0px;
    float:right;
    margin: 0;
    font-weight:bold;
    text-decoration: underline;
    padding: 24px;
    max-width: 10%;
}
.link{
    padding: 24px;
    position: absolute;
}
.container li:hover{
    
    text-shadow: 0px 0px 4px  blue;
}
.logo{

    text-align: left;
    position: absolute;

}
.text{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: rgb(2, 174, 231);
}
.text2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
}
@media screen and (max-width: 600px) {
    .text2 {
        top: 55%;
    }

  }
.text3{
    position: absolute;
    top: 58%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
}



  