body{
    background-color: white;
}
.body{
    background-color: rgb(171, 205, 243);
}

.unorderlist{
    display: block;
    overflow: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.listitem{
    display: block;
    padding: 0px;
    margin-right: 40%;

}
.listitem a{
    overflow: hidden;
    float: right;
    margin: 0%;
    padding: 1%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #D4E6F1 ;
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-family: monospace;
    font-size: 17px;
    border: 1px solid  rgb(171, 205, 243);
    transition-duration: 5ms;
}

.listitem a:hover{
    font-size: 19px;
    transition-duration: 0s;

}
.image{
    border-radius: 50%;
    transition-duration: 1s;
    width: 236px;
    height: 281px;
    margin-top: 122px;
    position: fixed;
    object-fit:cover;
    margin-left: 50px;

}
.image:hover{
    border-radius: 0%;


}

.personality{
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;
    
}

.h1{
    color: white;
    font-size: 15px;
    margin-left: 110px;
    position: fixed;
    margin-top: 415px;
    letter-spacing: 1.4px;
    font-family: Arial narrow;
}
.h1-above{    
    margin-top: 100px;
    color: wheat;
    font-size: 37px;
    margin-left: 437px;
    position: fixed;
    letter-spacing: 1.4px;
    transition-duration: 1s;

}
.h1-above:hover{    
    background-color: #12528f;
    border-radius: 10px;
}


.h2{
    margin-top: 150px;
    color: white;
    font-size: 15px;
    margin-left: 330px;
    position: fixed;
    line-height: 1.4;
    letter-spacing: 1.4px;
    transition-duration: 1s;
    font-family: Arial narrow;
}
.h2:hover{
background-color: #12528f;
border-radius: 10px;

}

.anash{
    display: block;
    background-color: #145DA0;
    margin-left: 360px;
    width: 998px;
    height: 659px;
    position: fixed;
    margin-top: -10px;
}

.leftside{
    position: absolute;
    display: inline-block;
    
}
div.scrollmenu {
    background-color: white;
  }
  
div.scrollmenu h1 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
.scrolling{
    float:left;
    width:50%;
    padding:20px;
    color: black;
    margin-left: -20px;
}

.design{
    margin-left:100px;
    color: #145DA0;
}
.button{
    color:wheat;
    background-color: red;
    position: fixed;
    margin-top: 410px;
    margin-left: 200px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition-duration: 1s;
}

.button:hover{
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 28px;
    padding-right: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition-duration: 1s;

}